@import '../../styles/vars';

.main_creerArbres {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: quicksand;
  margin-bottom: 5em;
}

.cadre_creerArbres {
  border: solid $marronClair;
  width: 235px;
  height: 235px;
  margin-bottom: 1em;
}

.img_creerArbres {
  width: 100%;
}
